
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
html {
  font-family: NotoSans,Arial,"Arial Unicode MS",sans-serif;
  color:#6e6e6e;
}
body{
  background-color: #f8f8f7;            
}
form select, input[type="month"]{
  line-height: normal;
  color: inherit;
  font: inherit;
  margin: 0;
  border: transparent;
  outline: none;
  border-bottom: solid 2px #4a6da7 !important;
  border-radius: 0;
  padding: .625rem;
  vertical-align: middle;
  box-sizing: border-box;
  transition: all .2s ease-in-out;
  background-color: rgb(243, 246, 251, 0.5);
  backdrop-filter: blur(10px);
}        
.container {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f8f7;            
}
.header {
  position: fixed;
  top: 0;
  z-index: 1;
  /* Agregar transparencia y efecto de desenfoque */
  background-color: rgb(243, 246, 251, 0.5);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0px;
  border-bottom: 1px solid #e4e5e7 ;
}
.header img {
  height: 50px;
  padding: 5px;
}
.header h2 {
  margin:0px;
  padding: 10px;
  font-weight: 400;
}
form {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  margin: 0px;
 
}
form label {
  font-weight:400;
  margin-top: 5px;
  margin-bottom: 5px;
}
form input[type="text"] {
  margin: 0;
  border: transparent;
  outline: none;
  border-bottom: solid 2px #4a6da7 !important;
  border-radius: 0;
  padding: .5rem;
  vertical-align: middle;
  box-sizing: border-box;
  transition: all .2s ease-in-out; 
  width:100%;
  
}
form input[type="submit"] {
  margin-top: 20px;
}
.table {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}
.row0 {  
  background-color: #f8f8f7;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row1, .row2, .row3, .row4, .row5 { 
  display: flex;
  border: 4px solid #f8f8f7;
  margin: 0;
  padding: 0;
}
.row:hover{
  background-color: rgba(242, 242, 242, 0.4);
  backdrop-filter: blur(10px); 
}
.desc {
  padding: 10px;
  width: 70%;
}
.cant {
  padding: 10px; 
  width: 30%;       
  text-align: center;
}
.cell {
  /*border-collapse: 1px solid rgb(239, 239, 239);*/
  padding: 10px;
  margin: 0;
}

.cell:first-child {
  width: 70%;
}
.c1 {
  width: 70%;
}
.c2 {
   width: 30%;   
}  
.c2 input {
  text-align: center;
}    
textarea{
  outline: none;
  border: solid 1px #f8f8f7;
  border-radius: 0;
  padding: .625rem;
  /*vertical-align: middle;*/
  width: 100%;
  box-sizing: border-box;
  transition: all .2s ease-in-out;
}
/* Estilos para el elemento div con la clase "coment" */
.coment {
  width: 100%;
  display: flex;
  border: 4px solid #f8f8f7;
  margin: 0;
  padding: 2px;
}
::placeholder{
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
}
      
/* Nuevos estilos para colocar los componentes de nombre y fecha uno frente al otro */
.name-date-container {
  display: flex;
  justify-content: space-between;
  width: 97%;
}
.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f7;
  width: 100%;
}
.submitBtn{
  background-color: #f3f6fb;
  border: .7px solid #4a6da7 !important;
  color: #4a6da7 !important;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}        
.submitBtn:hover {
  background-color: #f8f8f7;
  color: #4a6da7 !important;
}

